@using Car_Insurance_Quotes.Models
@model tbl_car

<div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
    <div class="card-header text-center">
        <h5 class="m-0">Here is your Quote!</h5>
    </div>
    <div class="card-body">
        <h5>Your monthly payments are: @Model.Car_Quote</h5>
    </div>
</div>

