<div class="container">
    <h3>Is this your first visit?</h3>

    <form>
        <button type="button" class="btn btn-primary" onclick='window.location = "@Url.Action("NewCustomer", "Home")";'>Yes!</button>
        <button type="button" class="btn btn-primary" onclick='window.location = "@Url.Action("OldCustomer", "Home")";'>No!</button>
    </form>

</div>